<div class="container">
<div class="d-flex justify-content-between">
    <h3 class="text-center">Actualizar usuario</h3>
    <%= link_to 'Usuarios', users_path, class: 'btn btn-outline-secondary' %>
</div>
    <%= render 'form' %>
<end>
